.about {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-gap: 30px;
  grid-template-areas:
    ".  article1  ."
    ".  article2  ."
    ".  article3  .";

  &__article {
    display: grid;
    grid-template-rows: 50px 1fr auto;
    grid-gap: 20px;
    align-items: center;
    padding: 10px;
    min-height: 300px;
    justify-items: center;
    text-align: center;
    background-color: $font-color-white;
    color: $font-color-black;
    box-shadow: 0 3px 8px 2px $shadow-color;

    &__icon {
      font-size: 2rem;
    }

    &__h2 {
      font-size: 2rem;
      position: relative;
      padding-bottom: 10px;
      @include underscore;
    }

    &:hover &__h2::after {
      width: 70px;
    }

    &__button {
      @include button($font-color-white, $main-color);
      padding: 10px 25px;
      font-size: 1rem;
    }
  }

  &__article:nth-child(1) {
    grid-area: article1;
  }
  &__article:nth-child(2) {
    grid-area: article2;
  }
  &__article:nth-child(3) {
    grid-area: article3;
  }
}

@media (min-width: 740px) {
  .about {
    padding: 0;
    grid-template-columns: 20px repeat(3, 1fr) 20px;
    grid-template-areas: ". article1 article2 article3 .";
    &__article {
      transform: translateY(-40px);
    }
  }
}
