@mixin button($background, $font-color) {
  padding: 20px 30px;
  border: 1px solid;
  border-radius: 25px;
  background: $background;
  color: $font-color;
  text-transform: capitalize;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: $font-color;
    color: $background;
    border-color: $font-color;
  }
}

@mixin underscore {
  &::after {
    text-align: center;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: "";
    height: 3px;
    width: 40px;
    background: $main-color;
    transition: $trs-time;
  }
}

@mixin h1 {
  position: relative;
  margin: 50px;
  font-size: 2.5rem;
  color: $font-color-white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  @include underscore;
}
