.nav {
  color: $font-color-white;
  &--top {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: right;
    justify-content: space-evenly;
    background-color: $main-color;
    padding: 10px 0;

    &__socials {
      display: flex;
      margin: 0 10px;
      justify-content: center;
      border-left: 1px solid;

      & i {
        padding: 0 10px;
        cursor: pointer;
      }
    }
  }

  &--bottom {
    display: grid;
    padding: 10px 2% 10px 5%;
    grid-template-columns: 3fr 1fr;
    color: $font-color-black;
    overflow: hidden;

    &__logo {
      justify-self: start;
      font-size: 2rem;
      text-transform: uppercase;

      & span {
        font-size: 3.6rem;
        color: $main-color;
      }
    }

    &__nav-icon {
      width: 100%;
      height: 100%;
      justify-self: end;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &--top--active {
        animation: navActive--top 1s both;
      }
      &--middle--active {
        animation: navActive--middle 0.5s both;
      }
      &--bottom--active {
        animation: navActive--bottom 1s both;
      }

      & span {
        left: 0;
        position: relative;
        display: block;
        height: 3px;
        width: 40px;
        margin: 4px 0;
        background: $font-color-black;
        transition: $trs-time;
      }

      &:hover span {
        background-color: $main-color;
      }
    }
  }
}

@keyframes navActive--top {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 10px;
    left: -30px;
    transform: rotate(45deg);
  }
  100% {
    top: 10px;
    left: 0;
    transform: rotate(45deg);
  }
}

@keyframes navActive--middle {
  100% {
    opacity: 0;
    height: 0;
  }
}
@keyframes navActive--bottom {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: -10px;
    left: 30px;
    transform: rotate(-45deg);
  }
  100% {
    top: -10px;
    left: 0;
    transform: rotate(-45deg);
  }
}
